<div>
  <%= @band.name %>
</div>
Genre:
<% @band.genres.each do |genre| %>
  <div>
    <%= genre.genre %>
  </div>
<% end %>
<% @band.shows.each do |show| %>
  <div>
  <a href='/shows/<%= show.id %>'>
    <div>
      <%= show.venue.name %>
    </div>
    <div>
      <%= "#{show.venue.city}, #{show.venue.state}" %>
    </div>
    <div>
      <%= show.datetime %>
    </div>
    </a>
  </div>
<% end %>
