<h2>All Venues</h2>

<% @venues.each do |venue| %>
  <div class='border'>
    <div><%= venue.name %></div>
    <div><%= venue.description %></div>
    <div><%= venue.street_1 %></div>
    <div><%= venue.street_2 %></div>
    <div><%= venue.city %></div>
    <div><%= venue.state %></div>
    <div><%= venue.zip_code %></div>
  </div>
<% end %>
