<div class='border'>
  <% @show.bands.each do |band| %>
    <div>
      <%= link_to(band.name, band) %>
    </div>
    Genres:
    <% band.genres.each do |genre| %>
      <div>
        <%= genre.genre %>
      </div>
    <% end %>
  <% end %>
  <div>
    <%= @show.details %>
  </div>
  <div>
    <%= @show.datetime %>
  </div>
  <div>
    <%= @show.venue.name %>
  </div>
  <div>
    <%= @show.venue.description %>
  </div>
  <div>
    <%= "#{@show.venue.street_1} #{@show.venue.street_2}" %>
  </div>
  <div>
    <%= "#{@show.venue.city}, #{@show.venue.state}" %>
  </div>
  <div>
    <%= @show.venue.zip_code %>
  </div>
</div>

<%= form_for [@show, @comment] do |f| %>
  <%= f.label :content, "Comment" %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>

<% @comments.each do |comment| %>
  <div><%= comment.content %></div>
<% end %>
