<!DOCTYPE html>
<html>
<head>
  <title>SceneHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1><a href='/'>Scene Hub</a></h1>
  <h3>Listen Locally</h3>
</head>
<body>

<% if !current_user %>
  <div>
    <%= link_to("Sign up" , new_user_registration_path) %>
  </div>
  <div>
    <%= link_to("Sign in" , new_user_session_path) %>
  </div>
<% else %>
  <div>
    Signed in as <%= current_user.email %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class='flash-notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='flash-error'>
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class='flash-alert'>
    <%= flash[:alert] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
